import logging
import os

os.environ["DEPLOYMENT_TARGET"] = "production"

COPY_GOOGLE_DOC_KEY = 'YOUR_COPY_GOOGLE_DOC_KEY'
#DATA_GOOGLE_DOC_KEY="YOUR_DATA_GOOGLE_DOC_KEY"

GOOGLE_OAUTH_CREDENTIALS_PATH = '~/.google_oauth_credentials'

# LOCAL_CSV_PATH = "data/test_local_books.csv"

# USE_ITUNES_ID = None
# LOG_LEVEL = logging.info

