import logging
import os

os.environ["DEPLOYMENT_TARGET"] = "production"
os.environ["aws_access_key_id"] = "XXXXXXXXXXXXX"
os.environ["aws_secret_access_key"] = "XXXXXXXXXXXXX+XXXXXXXXXXXXX"


COPY_GOOGLE_DOC_KEY = 'XXXXXXXXXXXXX'
DATA_GOOGLE_DOC_KEY="XXXXXXXXXXXXX"

GOOGLE_OAUTH_CREDENTIALS_PATH = './._google_oauth_credentials'
 

USE_ITUNES_ID = False
