<!DOCTYPE html>
<html lang="en">

<head>


    {% include '_meta.html' %}


    <link rel="canonical" href="{{ COPY.share.share_url }}">

    <link rel="shortcut icon" href="http://www.lanacion.com.ar/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="http://especiales.lanacion.com.ar/multimedia/proyectos/fonts/font.css">
    
    <!-- <link rel="stylesheet" type="text/css" href="http://especiales.lanacion.com.ar/interactivos/base/estilos.css"> -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css">

    <!-- CHARTBEAT -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>


    <!-- CSS -->
    <!-- FONTS -->
    {{ CSS.push('www/css/icon/npr-app-template.css') }}
    {{ CSS.render('css/rendered/fonts.min.css') }}
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <a class="sr-only" href="#content">Skip To Content</a>

    {% block outer_content %}

    {% block header_content %}
    {% endblock header_content %}

    <section id="content">
      <div class="btn" id="back-to-top">
          <p id="back-to-top-text">Volver arriba&nbsp;&nbsp;<i class="icon-up-hand"></i></p>
          <p id="back-to-top-no-text"><i class="icon-up-hand"></i></p>
      </div>
        <div class="container">
            <div class="row">
                <div id="main-content" class="col-md-12">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="primary">
            <ul>

                {{ COPY.content.footer_list_kinks_1 }}

            </ul>
        </div>
        <div class="secondary">
            <p>&copy;{{ COPY.content.copyright }}</p>
            <ul>
            
                {{ COPY.content.footer_list_kinks_2 }}

            </ul>
        </div>
    </footer>
    {% endblock outer_content %}

    {% include '_share_modal.html' %}

    <!-- JS -->
    <script src="js/lib/clipboard.min.js"></script>
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/analytics.js') }}
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/lib/jquery-2.1.1.js') }}
    {{ JS.push('node_modules/isotope-layout/dist/isotope.pkgd.js') }}
    {{ JS.push('node_modules/imagesloaded/imagesloaded.pkgd.js') }}
    {{ JS.push('js/lib/html5.js') }}
    {{ JS.push('js/lib/jquery.scrollTo-1.4.13.js') }}
    {{ JS.push('node_modules/underscore/underscore.js') }}
    {{ JS.push('node_modules/bootstrap/dist/js/bootstrap.js') }}
    {{ JS.push('node_modules/signals/dist/signals.js') }}
    {{ JS.push('node_modules/hasher/dist/js/hasher.js') }}
    {{ JS.push('js/lib/jquery.unveil.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/app.js') }}
    {{ JS.render('js/app-footer.min.js') }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    
    {% block extra_foot %}
    {% endblock extra_foot %}


</body>
</html>
