<!DOCTYPE html>
<html lang="en">

<head>
<title>Book Concierge Coming Soon</title>

    <meta name="description" content="{{ PROJECT_DESCRIPTION }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://media.npr.org/favicon.ico" />

    <!-- CHARTBEAT -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    <!-- WEBFONTS -->
    {{ JS.push('js/lib/webfont.js') }}
    {{ JS.push('js/fonts.js') }}
    {{ JS.render('js/webfonts.min.js') }}

    <!-- CSS -->
    <!-- FONTS -->
    {{ CSS.push('www/css/icon/npr-app-template.css') }}
    {{ CSS.render('css/rendered/fonts.min.css') }}
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}


    {% include '_meta.html' %}


    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <a class="sr-only" href="#content">Skip To Content</a>

    {% block outer_content %}

    <div class="promoContainer">
      <h1 class="promoHeader">{{COPY.content.temp_page_header}}</h1>
      <p class="promoText">{{COPY.content.temp_page_text}}</p>
      <div class="promoLinksContainer">
        <ul>
          <li class="promoLink"><a href="./#link!!!" target="_blank" class="btn btn-default">2015</a></li>
          <li class="promoLink"><a href="./#link!!!" target="_blank" class="btn btn-default">2014</a></li>
          <li class="promoLink"><a href="./#link!!!" target="_blank" class="btn btn-default">2013</a></li>
        </ul>
      </div>
    </div>


     <footer id="footer">
        <div class="primary">
            <ul>

                {{ COPY.content.footer_list_kinks_1 }}

            </ul>
        </div>
        <div class="secondary">
            <p>&copy;{{ COPY.content.copyright }}</p>
            <ul>
            
                {{ COPY.content.footer_list_kinks_2 }}

            </ul>
        </div>
    </footer>
    {% endblock outer_content %}

</body>
</html>
